# Virtual environments
venv/
.venv/
.venv-pandora/
.pandora-postgres/
.tmp/
nisq_ftqc_env/

# Python cache
__pycache__/
*.pyc

# macOS junk
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Node frontend
node_modules/
frontend/dist/

# VS Code
.vscode/

#images
*.png
*.jpg
*.jpeg
*.pdf
